.container{
    width:30%;
    height:50px;
    border-radius: 10px;
    margin: 4px;
}

.btnCalc{
    background-color: #f2aa24;
    color:#fff;
    width:100%;
    height:100%;
    border-radius: 4px;
    font-size: 1.4rem;
}

.btnCalc:hover{
    background-color:#bd851e;
    cursor: pointer;
}